@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF4D00;
}

@layer base {
  h1 {
    @apply text-6xl font-black mb-4
  }
  h3 {
    @apply text-3xl font-bold mb-3
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Orbitron',Arial, Helvetica, sans-serif;
  color:  white;
}

